body{
    margin: auto;
    font-family: 'roboto';
}

#main {
    background-color: lightgray;
    margin: auto;
    text-align: center;
}

#img-div {
    width: %70;
    align: center;
    background-color: white;
}
#tribute-info{
    text-align: center;
}
h3{
    text-align: center;
    font-weight: 200;
}
q{
    font-style: italic;
}